<section>
    <!--this is making the background section - merp-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead"><i class="fa fa-link"></i> Links</p>
                <div class="link-list">
                    <ng-include src="'partials/Messages/links.html'"></ng-include>
                </div>
            </div>
            <div class="col-md-6">
                <p class="lead"><i class="fa fa-pencil"></i> Contact Us</p>
                <div class="col-xs-12">
                    <p>Hours of Assistance: 8am to 5pm EST</p>
                    <p><i class="fa fa-envelope-square"></i>&nbsp;<a href="mailto:TAC@standardregister.com">TAC@standardregister.com</a></p>
                    <p><i class="fa fa-phone-square"></i>&nbsp;<a href="tel:937-221-9999">937-221-9999</a></p>
                </div>
                <!--<div class="col-xs-12 col-md-4 pull-right">
                    <img class="img-responsive" src="css/images/custom/logo-standardregister.jpg" />
                </div>-->
            </div>

        </div>
    </div>
</section>