<!--
Instructions:
* 6 Tabs max
* Tab ID is the tab name [ keep it short ]
* comment out  or remove unnecessary tab sections

<!--#tabs-->
<div id="tabs">

    <!--tab1: description-->
    <div id="Description">
        <h3>See what better looks like. The most 4G LTE coverage in America.</h3>
        <p>Use this banner to show your clients the best coverage in the US! This is intended to be backlit and will be displayed in stores
            through 2016.</p>
        <p>This banner shows the 4G LTE coverage map for Verizon across the continental United States, Alaska, and Hawaii.
            Below the Verizon map are maps showing the coverage for AT&amp;T, Sprint, and T-Mobile.</p>

        <br />
        <!--put iframe video here-->
        <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/785YQKmgiTo" width="560"></iframe>
    </div>
    <!--tab1: description-->

    <!--tab2: installation-->
    <div id="Installation">
        <ol>
            <li>Remove the previous banner.</li>
            <li>Carefully slide into the existing POP store structure.</li>
        </ol>
    </div>
    <!--tab2: installation-->

    <!--tab3: specs-->
    <div id="Specs">
        <ul>
            <li>Dimensions: 24x48 inches</li>
            <li>Substrate: Duratran</li>
            <li>Revision: 01/16</li>
            <li>Replaces: XXXXXXXX</li>
            <li>Project Name: 4 MAP January Direct</li>
            <li>Store Position:&nbsp; P1 Inward</li>
        </ul>
    </div>
    <!--tab3: specs-->

    <!--tab4: restrictions-->
    <div id="Restrictions">
        <ul>
            <li>Maximum Order Quantity: 1</li>
            <li>Approval required if order quantity is &gt; 1</li>
        </ul>
    </div>
    <!--tab4: restrictions-->

    <!--tab5: available-->
    <div id="Available">
        Launch Date: 1/27/2016<br />
        Expiration Date: 1/27/2017<br />
    </div>
    <!--tab5: available-->

</div> <!--end #tabs-->

<!--#tags-->
<div id="tags">
    <span>banner</span>
    <span>new store</span>
    <span>outward</span>
    <span>backlit </span>
    <span>duratran</span>
    <span>map</span>
    <span>24x48</span>
    <span>nationwide</span>
    <span>coverage</span>
</div>
<!--end #tags-->