<div id="tabs">
    <div id="Description">
        <h3>Better Matters.</h3>
        <p>Place this banner on the tablet wall right frame.</p>
        <p>This simple, yet bold statement will reaffirm our core message with the customer.</p>

        <br />
        <!--put iframe video here-->
    </div>
    <div id="Installation">
        <ol>
            <li>Remove tablet by lifting up and pulling out from light pan.</li>
            <li>Place tablet face down and remove j-channels.</li>
            <li>Lay tablet down on the longest edge and gently shake so that backer plate buckles down.</li>
            <li>Insert object between pressure plate and frame to release the pressure plate.</li>
            <li>Remove clear plexi &quot;pressure plate&quot;.</li>
            <li>Remove old graphic and replace with new graphic.</li>
            <li>Place clear plexi pressure plate over new graphic. Slide j-channels back into place.</li>
            <li>Re-install tablet onto tablet wall.</li>
        </ol>

        <a target="_blank" href="css/images/custom/Products/TABRDN16X271015-installation.jpg">Installation Instruction Sheet</a>
    </div>
    <div id="Specs">
        <ul>
            <li>Dimensions: 16x27 inches</li>
            <li>Substrate: Duratran</li>
            <li>Revision: 10/15</li>
            <li>Replaces: XXXXXXXX</li>
            <li>Project Name: Never Distributed/Over Only</li>
            <li>Store Position:&nbsp;  P2 Outward</li>
        </ul>
    </div>
    <div id="Restrictions">
        <ul>
            <li>Maximum Order Quantity: 1</li>
            <li>Approval required if order quantity is &gt; 1</li>
        </ul>
    </div>
    <div id="Available">
        Launch Date: 11/7/2015<br />
        Expiration Date: N/A<br />
    </div>
</div>
<div id="tags">
    <span>tablet wall</span>
    <span>new store</span>
    <span>duratran</span>
</div>