<section class="contactus">
    <div class="panel panel-default" id="user_form">
        <div class="panel-heading">
            <h3 class="panel-title">{{('Help' | r) | xlat}}</h3>
        </div>
        <div class="panel-body">

            <div class="col-xs-12 col-md-6">
                <h3>Standard Register Technical Help</h3>

                <p>Hours of Assistance: 8am to 5pm EST</p>
                <p<i class="fa fa-envelope-square"></i>&nbsp;<a href="mailto:TAC@standardregister.com">TAC@standardregister.com</a></p>
                <p><i class="fa fa-phone-square"></i>&nbsp;<a href="tel:937-221-9999">937-221-9999</a></p>
            </div>

            <div class="col-xs-12 col-md-4 pull-right">
                <img class="img-responsive" src="css/images/custom/logo-standardregister.jpg" />
            </div>

        </div>
    </div>
</div>