<section class="contact-us">
    <div class="panel panel-default" id="user_form">
        <div class="panel-heading">
            <h3 class="panel-title">{{('Help' | r) | xlat}}</h3>
        </div>
        <div class="panel-body">

            <div>
                <h3>Step 1: Welcome Page</h3>
                <p>There are multiple ways to quickly find a product and add it to the shopping cart:</p>
                    <ul>
                        <li>Access the <strong>Categories</strong> from the text menu.</li>
                        <li>Click the image icon.</li>
                        <li>Use the <strong>Product Search</strong> bar at the top of the screen.</li>
                    </ul>

                <p>At any time on this site, you can hover over the shopping cart icon at the top-right of the screen to preview your cart, access the <strong>View Cart</strong> screen,
                    or complete your order via the <strong>Checkout</strong> button.
                </p>
                <img class="img-responsive" ng-src="css/images/custom/help/step1.jpg" />
            </div>

            <hr />

            <div>
                <h3>Step 2: Product Navigation</h3>
                <p>Navigate to specific products by clicking a <strong>Category</strong> or by using the <strong>Product Search</strong> bar.</p>
                <p>There are two methods for adding product(s) to your cart:</p>
                    <ul>
                        <li>On this screen, add a quantity and press the cart icon.</li>
                        <li>Click the image of the product to view the <strong>Product Details</strong>. See Step 3 below for more information on the Product Detail page.</li>
                    </ul>
                <br />
                <img class="img-responsive" ng-src="css/images/custom/help/step2.jpg" />
            </div>

            <hr />

            <div>
                <h3>Step 3: Product Detail Page</h3>
                <p>The Product Detail page provides the high resolution <strong>Image, Description, Tags,</strong> and any associated <strong>Videos</strong> for the product.
                    Click the product image at the top-left to zoom in to the product. Add a <strong>Quantity</strong> and press the <strong>Add To Cart</strong> button to continue.
                </p>
                <img class="img-responsive" ng-src="css/images/custom/help/step3.jpg" />
            </div>

            <hr />

            <div>
                <h3>Step 4: View Cart</h3>
                <p>This screen can be accessed by hovering over the Shopping Cart icon on the top-right of any page, and clicking the <strong>View Cart</strong> button. The
                    <strong>View Cart</strong> page shows all items that are presently in your shopping cart. You can change the quantity on the left side of each product or click the red
                    &quot;minus&quot; symbol at the top-right of the product to remove the product.
                </p>
                <p>There are three buttons at the bottom of the screen:</p>
                <ul>
                    <li>The <strong>Cancel Order</strong> button will remove all items from the shopping cart.</li>
                    <li><strong>Save Order</strong> will save any edits to the product quantities.</li>
                    <li>The green <strong>Check Out</strong> button will take you to the next screen to complete your order.</li>
                </ul>
                <img class="img-responsive" ng-src="css/images/custom/help/step4.jpg" />
            </div>

            <hr />

            <div>
                <h3>Step 5: Checkout Screen</h3>
                <p>The <strong>Checkout</strong> page can be accessed at any time by hovering over the Shopping Cart icon on the top-right of any page, and clicking the
                    <strong>Checkout</strong> button.</p>

                <p>The following sections must be reviewed or completed to submite the order:</p>
                <ul>
                    <li>If applicable, the <strong>Approval</strong> section will show any items in the shopping cart that will require order approval.</li>
                    <li>Fill out the <strong>Order</strong> section of this page, which requires you to select a <strong>Reason to Order</strong>.
                        The optional <strong>Comments</strong> box will provide additional information to the Verizon order approver.</li>
                    <li>The <strong>Shipping</strong> section requires an address to be entered. Your settings may automatically populate the Shipping address,
                        which can be edited or changed.</li>
                    <li>Select a <strong>Shipping Method</strong>.</li>
                    <li>Prior to submitting the order, green checkmarks must appear to the left of the Order and Shipping sections.</li>
                    <li>Press the <strong>Submit Order</strong> button when ready to complete the order.</li>
                </ul>
                <br />
                <img class="img-responsive" ng-src="css/images/custom/help/step5.jpg" />
            </div>

        </div>
    </div>
</section>